.parallax.intro
	.intro-body
		.container-fluid
			.row.middle-xs.center-xs
				.col.sm-12.col-md-7.col-lg-7
					.box
						%h1.big-text.light-gray-text Welcome to the official website of Growsoft community, you can sing up and check out the new content.

				.col-xs-12.col-sm-12.col-md-5.col-lg-5
					.box
						.big-padding.white-opacity.border.sombra
							%h2.bold.dark-gray-text Growsoft Community
							%p.dark-gray-text See other members of this great community, share and show your talent.
							.top-space
								=render "devise/registrations/new"

.row.center-xs.no-margin
	.col-xs-12
		.box
			%h2 Share and follow the people who you want
.row.center-xs.no-margin
	.col-xs-4
		%h3 Best way to access to edit the profile
		%p Just clicked the name and the bio.
	.col-xs-4
		%h3 Share what you doing, you new project.
	.col-xs-4
		%h3 New tecnology and bla bla bla bla

.second-image.intro
	.intro-body
		.row.center-xs.no-margin
			.col-xs-6
				.big-padding.white-opacity.border.sombra
					%h2.bold.dark-gray-text This is only a demo!
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat unde beatae saepe possimus quas sed enim molestiae doloribus nulla, recusandae illo omnis amet sapiente repudiandae ab tempora cum ullam adipisci Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda rem accusantium, hic aspernatur vitae excepturi est ipsum voluptatum quo illum repellat tenetur. Temporibus non inventore sapiente sit nobis fugit nihilulla, recusandae illo omnis amet sapiente repudiandae ab tempora cum ullam adipisci Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda rem accusantium, hic aspernatur vitae excepturi est ipsum voluptatum quo illum repellat .

			.col-xs-6
				%h2.light-gray-text If you wanna se more projects like a clone instagram a something like that click right here
