.full-height.row.middle-xs.center-xs.no-margin.parallax.margin-xy
	.col-xs-6.col-md-8.com-xs-12.margin-xy
		.box
			.big-padding.white-opacity.border.sombra
				%h2.bold.dark-gray-text Grosoft Community
				=render "devise/registrations/new"
