.full-height.row.middle-xs.center-xs.no-margin.parallax.margin-xy
	.col-xs-12.col-sm-6.col-sm-offset-3.col-md-5.col-md-offset-4.col-lg-4.col-lg-offset-4.margin-xy
		.box
			.big-padding.white-opacity.border.sombra
				%h2.bold.dark-gray-text Grosoft Community
				=render "devise/registrations/new"