%header.mdl-layout__header.mdl-layout__header--scroll
	.mdl-layout__header-row.white
		%span.mdl-layout-title=link_to "Growsoft community", root_path,class:'dark-gray-text', style:'text-decoration: none;'
		.mdl-layout-spacer
		%nav.mdl-navigation.mdl-layout--large-screen-only.relative
			-if user_signed_in?
				#notifications
				.padding-right
					=link_to "/notifications", class:"circle-notification black-text", id:"notification",remote: true, data:{type:"script"} do
						=current_user.unviewed_notifications_count
				=link_to "Friends", friendships_path,class: 'padding-right none'
				=link_to current_user.username, current_user,class: 'padding-right none'
				=link_to "Sign out", destroy_user_session_path,class:'none', method: :delete


.mdl-layout__drawer
	%span.mdl-layout-title.center-xs=link_to "Growsoft community", root_path,class:'dark-gray-text', style:'text-decoration: none;'
	-if user_signed_in?
		#notifications
		.center-xs.padding-top
		=link_to "Friends", friendships_path,class: 'center-text none padding-top'
		=link_to current_user.username, current_user,class: 'center-text none padding-top'
		=link_to "Sign out", destroy_user_session_path,class:'center-text none padding-top', method: :delete
	%nav.mdl-navigation
