=form_tag "/custom_sign_up", method: :post do

	%ul
		-@user.errors.full_messages.each do |error|
			%li= error

	%div
		= text_field_tag "user[username]", @user.username
		%label{for: "user_username"} Username
	%div
		= email_field_tag "user[email]", @user.email, required: true
		%label{for: "user_email"} Email

	%div
		=text_field_tag "user[name]", @user.name
		%label{for: "user_name"} Name

	%div
		=submit_tag "Aceptar"


