.row.middle-xs.padding-bottom
	.col-xs-2.col-md-1
		=circle_img friendship.user_view.avatar.url(:thumb),50
	.col-xs-7.col-md-8
		=friendship.user_view.username
	.col-xs-3
		=friendship.status_or_button