.row.center-xs.padding-top
	.col-xs-10.col-md-8
		.white.large-padding
			.border-bottom.padding-bottom.no-padding
				%h5.center-text Pending friends
				=render @pending_friendships
			.top-space.padding-top
				%h5.center-text Friendships accepted
				=render @accepted_friendships
			.top-space
				%h5.center-text Awaiting requests
				=render @pending_requests
