.container-fluid.margin-xy
	.row.middle-xs.center-xs
		.hidde-xs.col-xs-12.col-sm-8.col-md-6.col-lg-4
			.box
				.big-padding.white-opacity.border.sombra
					%h2.bold.dark-gray-text Growsoft Community
					=render "devise/sessions/new"

