$colors : (
	purple: #BF0042,
	blue: #00a2bf,
	green: #42bf00,
	gray: #AEAEAE,
	dark-gray: #545454,
	diferent-green: #078C60,
	fucsia: #F00D68,
	black: #000,
	white: #FFF,
	dark-opacity-gray: rgba(0, 0, 0, 0.5),
	white-opacity: rgba(255, 255, 255, 1),
	light-gray: #F2F2F2
	);

@each $color_name, $color in $colors{
	.#{$color-name}{
		background-color: $color;
	}

	.#{$color-name}-text{
		color: $color;
	}
}