// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-color: #EEE;
}
.close-parent{
    cursor: pointer;
}
.default-cursor{
    cursor:default;
}

.parallax {
    /* The image used */
    background-image: url(#{asset_path('slide3.jpg')});

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second-image{
    background-image: url(#{asset_path('people3.png')})
}

.parallax2 {
    /* The image used */
    background-image: url(#{asset_path('people2.jpg')});

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover{
    background-size:cover;
    background-position: center;


}

.remotipart{
    display: none;
}

#notification{
    width: 1.5em;
    height: 1.6em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

#notifications{
    position: absolute;
    background:white;
    top: 62px;
    left: -50px;
    width: 190px;
    color: black;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s;
    &.active{
        max-height: 300px;
        padding:30px 55px;
        overflow-y: scroll;
        border: solid 1px;
        border-color:black;


    }
}

.mdl-layout__drawer{
    background: white;
    color: black;

}
.circle-notification{
    border-radius: 10px;
    background-color: #009688;
}

.none{
    text-decoration: none;
}

.material-icons{
    color: #009688;
}

.font-weight{
    font-weight: solid;
}
.center-text{
    text-align: center;
}
