.absolute{style:"top: 20px;right: 20px;"}
	%button.mdl-button.white-text.mdl-js-button#user-menu-avatar-left 	
		Cambiar foto
	%ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{for:"user-menu-avatar-left"}
		%li.mdl-menu__item.file-activate{for:"#user_avatar"} Actualizar foto de perfil
		%li.mdl-menu__item.file-activate{for:"#user_cover"} Actualizar portada
